@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
body {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  background-color: #adb5bd;
}


.head-title{
  background-color: #215476;
}


.nav-bg{
  background-color: #6a040f;
}


/* .bg-user-dashboard{
  background-color: #adb5bd;
} */

